.addWrapper{
    display: 'flex';
    flex-direction: 'column',;
    justify-content: 'center'; 
    align-items: 'center';
    height: auto;
    padding: 20px;
    width: 100%;

    button{
        width: 100px;
    }
}